/* .containers {
    margin-top: 10px;
      background-image: url('../image/mapala.png');
      background-size: cover;
      background-color: rgba(0, 0, 0, 1);
      background-position: center;
      height: 237px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 10px;
  } */
  
  body {
    overflow-x: hidden;
  }
  .navigasi {
      background: #fafafa;
      font-family: "Poppins", sans-serif;
    }
    
    .color-kuning {
      color: #ffbd1f !important;
    }
    .color-kuning:hover {
      font-weight: bold;
    }
    .menu a:hover {
      color: #ffb300 !important;
      font-weight: bold;
    }
  
    
    footer {
      position: absolute;
      background-color: #ffbd1f;
      text-align: right;
      font-family: "poppins";
      font-size: 24px;
      width: 100%;
    }
    
    
    